body{
	font-family: cambria;
	color: #fff;
	background-color: #000;
}

.barra-de-navegacion{
	display: flex;
	transform: translateY(-2835px);
	padding-left: 50px;
	padding-top: 20px;
	position: relative;
	height: 70px;
	width: 100%;
	background: inherit;
}
.position-fixed{
	animation-name: animacionBDN;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	height: 65px;
	background: linear-gradient(to top, #000, #500);
}

@keyframes animacionBDN{
	0%{
		margin-top: -40px;
		position: fixed;
		z-index: 3000;
	}

	70%{
		height: 75px;
	}

	100%{
		margin-top: -7px;
		position: fixed;
		z-index: 3000;
	}
}

.logo{
	display: flex;
}

.letra-1{
	color: #500;
	font-family: impact;
	font-size: 70px;
	transform: translateY(-30px);
	margin-right: 8px;
}

.letra-2{
	font-family: impact;
}

.letra-3{
	color: #500;
	font-family: impact;
	margin-left: 8px;
	font-size: 35px;
	transform: translateY(-5px);
}

.opciones-de-barra{
	display: flex;
	margin-left: 10px;
}

.opciones-de-barra button{
	margin: 5px 10px;
	text-align: center;
	background-color: inherit;
	border: none;
	font-family: verdana;
	padding: 0px 8px;
	height: 20px;
	color: #fff;
	position: relative;
	font-size: 13px;
}

.opciones-de-barra button:hover{
	cursor: pointer;
	color: #fd0;
}

.pelicula{
	margin: 100px;
}

.input{
	display: flex;
	transform: translateX(190px)
}

.input input{
	border-radius: 50px;
	height: 30px;
	width: 200px;
	background-color: #533;
	border: 1px solid #600;
	outline: none;
	padding: 10px;
	color: #fff;
}

.input input:focus{
	outline: 1px solid #fd0;
	animation-name: agrandarInput;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

@keyframes agrandarInput{
	0%{

	}
	100%{
		width: 240px;
		
	}
}

.input input::placeholder{
	font-family: segoe UI;
	font-size: 13px;
}

.input button{
	width: 15px;
	height: 15px;
	background: inherit;
	border: none;
	margin-left: -35px;
	margin-top: 3px;
	font-size: 25px;
	color: #400;
}

.input button:hover{
	cursor: pointer;
}

.div-1, .div-2, .div-3{
	display: flex;
	flex-direction: column;
	position: relative;
}

.ventanas{
	display: flex;
	transform: translateY(-2859px);
	position: relative;
	z-index: 3000;
	
}

.ventana-fixed{
	transform: translateY(-2796px);
	position: fixed;

}

.ventana-3{
	width: 170px;
	background-color: #400;
	color: #fff;
	padding-bottom: 20px;
	padding-top: 5px;
	position: relative;
	z-index: 3000;
	margin-left: 350px;
	animation-name: aumentar;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	border-radius: 5px;
}

@keyframes aumentar{
	0%{
		transform: scale(.9);
	}

	80%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

.ventana-1 button, .ventana-2 button, .ventana-3 button{
	width: 80%;
	position: relative;
	border: none;
	background: inherit;
	color: #fff;
	margin: 0px 10px;
	font-size: 10px;
	text-align: left;
	font-family: verdana;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.ventana-1 button:hover, .ventana-2 button:hover, .ventana-3 button:hover{
	animation-name: animacionBoton;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes animacionBoton{
	0%{

	}

	100%{
		background-color: #0005;
		color: #fd0;

	}
} 

.ventana-1 button:focus, .ventana-2 button:focus, .ventana-3 button:focus{
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
}


.informacion{
	display: flex;
	margin: 0px 70px;
	transform: translateY(100px);
	margin-bottom: 120px; 
}

.foto-poster{
	width: 20%;
	height: 230px;
}

.foto-poster img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.informacion-de-anime{
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	width: 80%;
}

.informacion-de-anime h2{
 	font-size: 30px;
 	font-family: segoe UI semibold;
}

.informacion-de-anime p:nth-child(5){
 	padding: 0px 0px;
 	font-family: segoe UI;
 	font-size: 14px;
}

.informacion-de-anime p:nth-child(2){
 	padding: 10px 0px;
 	font-family: segoe UI;
 	font-size: 14px;
}

.informacion-de-anime p:nth-child(3){
 	padding: 5px 0px;
 	font-family: segoe UI;
 	font-size: 14px;
 	height: 90px;
}

.informacion-de-anime p:nth-child(4){
 	padding: 5px 0px;
 	font-family: segoe UI;
 	font-size: 14px;
}

.informacion-de-anime a{
 	padding: 10px 0px;
 	text-decoration: none;
 	color: #fd0;
 	font-family: segoe UI;
}

.container-desplazamiento{
	width: 100%;
	height: 250px;
	background-color: #222;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	overflow: hidden;
}

.desplazamiento-de-imagen{
	width: 100%;
	height: 100%;
}

.desplazamiento-de-imagen div{
	width: 100%;
	height: 100%;
}

.desplazamiento-de-imagen p{
	transform: translateY(-150px);
	color: #fd0;
	position: relative;
	margin: 0px 70px;
}

.container-desplazamiento img{
	width: 100%;
	height: 100%;
	filter: brightness(.6);
	object-fit: cover;
}

.desplazamiento-de-imagen{
	width: 400%;
	display: flex;
}

.botones-de-desplazamiento{
	transform: translateY(-270px);
	width: 50px;
	display: inline-block;
}

.botones-de-desplazamiento-2{
	transform: translateY(-270px); 
	width: 50px;
	display: inline-block;
}

.botones-de-desplazamiento button, .botones-de-desplazamiento-2 button{
	position: relative;
	background-color: #f00;
	height: 40px;
	width: 40px;
	font-size: 40px;
	background: inherit;
	border: none;
	border-radius: 30px;
	text-align: center;
	padding-bottom: 5px;
	color: #fff;
}

.botones-de-desplazamiento-2 button:nth-child(1){
	transform: translateX(910px);
}

.botones-de-desplazamiento button:nth-child(1){
	transform: translateX(10px);
}

.botones-de-desplazamiento button:hover, .botones-de-desplazamiento-2 button:hover{
	cursor: pointer;
	background-color: #fff;
	color: #400;
	opacity: .5;
}


.adelante-1{
	animation-name: desplazarseAdelantea;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.adelante-2{
	animation-name: desplazarseAdelanteb;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
}

.adelante-3{
	animation-name: desplazarseAdelantec;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
}


@keyframes desplazarseAdelantea{
	0%{
		margin-left: 0%;

	}
	100%{
		margin-left: -100%;
	}
}

@keyframes desplazarseAdelanteb{
	0%{
		margin-left: -100%;

	}
	100%{
		margin-left: -200%;
	}
}

@keyframes desplazarseAdelantec{
	0%{
		margin-left: -200%;

	}
	100%{
		margin-left: -300%;
	}
}

.atras-1{
	animation-name: desplazarseAtrasa;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.atras-2{
	animation-name: desplazarseAtrasb;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
}

.atras-3{
	animation-name: desplazarseAtrasc;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
}

@keyframes desplazarseAtrasa{
	0%{
		margin-left: -300%;

	}
	100%{
		margin-left: -200%;
	}
}

@keyframes desplazarseAtrasb{
	0%{
		margin-left: -200%;

	}
	100%{
		margin-left: -100%;
	}
}

@keyframes desplazarseAtrasc{
	0%{
		margin-left: -100%;

	}
	100%{
		margin-left: 0%;
	}
}

.sombra1{
	background: linear-gradient(to top, transparent, #000);
	height: 40px;
	width: 100%;
	position: relative;
	z-index: 500;
	transform: translateY(-260px);
}

.sombra2{
	background: linear-gradient(to bottom, transparent, #000);
	height: 40px;
	width: 100%;
	position: relative;
	z-index: 500;
	transform: translateY(-75px);
}
.puntos{
	display: flex;
	flex-direction: row;
	margin-left: 440px;
	
	width: 100px;
	justify-content: center;
	transform: translateY(-150px);
	position: relative;
	z-index: 500;
	}

.punto-1, .punto-2, .punto-3, .punto-4{
	border-radius: 50px;
	height: 8px;
	width: 8px;
	background-color: #8aa;
	margin: 5px;

}

.punto-1-a{
	animation-name: agrandamiento;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}

.punto-1-e{
	animation-name: encogimiento;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}

.punto-2-a{
	animation-name: agrandamiento;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}

.punto-2-e{
	animation-name: encogimiento;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}

.punto-3-a{
	animation-name: agrandamiento;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}

.punto-3-e{
	animation-name: encogimiento;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}

.punto-4-a{
	animation-name: agrandamiento;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}

.punto-4-e{
	animation-name: encogimiento;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}


@keyframes agrandamiento {
	0%{
		background-color: #8aa;
	}

	100%{
		transform: scale(1.7);
		background-color: #400;
	}
}

@keyframes encogimiento{
	0%{
		transform: scale(1.7);
		background-color: #400;
	}

	100%{
		transform: scale(1);
		background-color: #8aa;
	}
}


.supremo{
	display: flex;
	transform: translateY(-200px);
	margin: 100px 70px 0px 70px;

}

.main{
	margin: 0px 30px 100px 0px;
	
	width: 75%;
}

.main h2{
	font-size: 35px;
}

.div-grid-h2{
	width: 100%;
	border-bottom: 1px solid #fd0;
}

.container-superior-temporadas{
	margin-bottom: 40px;
}

.container-info-temporadas{
	display: flex;
	margin: 10px 0px;
}

.poster-temporada{
	width: 28%;
	height: 250px;
}

.poster-temporada img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info-temporada{
	width: 72%;
	margin-left: 20px;
}

.info-temporada h3{
	border-bottom: 1px solid #fd0;
	font-size: 25px;
	margin-bottom: 15px;
}

.info-temporada p{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 13px;
	font-family: segoe UI semibold;
	background: linear-gradient(to left, transparent, #400);
	
	
}

.info-temporada p:nth-child(3){
	border-bottom: 1px solid #fd0;
	padding-bottom: 5px;
	margin-bottom: 14px;
}

.info-temporada p:nth-child(5){
	border-bottom: 1px solid #fd0;
	padding-bottom: 5px;
	margin-bottom: 14px;
}

.info-temporada p:nth-child(7){
	border-bottom: 1px solid #fd0;
	padding-bottom: 5px;
	margin-bottom: 14px;
}

.info-temporada button{
	background-color: #70c;
	color: #fff;
	font-family: verdana;
	padding: 5px 30px;
	border-radius: 4px;
	border: none;
	font-size: 12px;
}

.info-temporada button:hover{
	animation-name: descargarhover;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	cursor: pointer;
	
}

@keyframes descargarhover{
	0%{
		
	}

	100%{
		background-color: #70c4; 
		color: #fd0;
	}
}

.info-temporada button:focus{
	border: 1px solid #fff;
	background: inherit;
	color: #f07;
}

.pie-de-temporada p{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 13px;
	font-family: segoe UI semibold;
	background: linear-gradient(to left, transparent, #400);
}

.pie-de-temporada p:nth-child(3){
	border-bottom: 1px solid #fd0;
	padding-bottom: 5px;
	margin-bottom: 12px;
	color: #0bf;
	font-size: 15px;
}



.aside{
	margin-left: 10px;
	width: 25%;
}

.aside button{
	width: 100%;
	padding: 10px 3px;
	margin-bottom: 5px;
	font-size: 12px;
	background-color: #300;
	font-family: verdana;
	color: #fff;	
}



.aside-2 {
	color: #aaa;
	
}

.aside-1 button:hover{
	background-color: #3005;
	cursor: pointer;

}

.imagen-aside{
	width: 100%;
}

.imagen-aside img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.titulo-aside a{
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	

}
.boton-estrenos button{
	width: 100%;
	height: 40px;
	background-color: #fff3;
	color: #8bb;
}

.grid-aside{
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: repeat(10, 110px);
	margin: 5px;
	font-family: arial;
	grid-row-gap: 20px;

}




.column-1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.div-posicion{
	transform: translateY(-110px);
	position: relative;
	margin-left: -15px;
}

.column-1 b{
	background-color: #a00;
	color: #fff;
	padding: 7px;
	border-radius: 50px;
	border: 5px solid #000;
	

}

.column-2{
	margin-left: 10px;
}

.informacion-2{
	display: flex;
	font-size: 12px;
	margin: 8px 0px;
}

.informacion-2 p:nth-child(1){
	color: #fd0;
}

.informacion-2 p{
	margin-right: 6px;
	color: #999;
}

.calidad-grid{
	background-color: #fd0;
	color: #000;
	width: 45px;
	height: 13px;
	border-radius:10px;
	font-size: 12px;
	text-align: center;
	padding: 3px;
}

.serie-1 a:hover, .serie-2 a:hover, .serie-3 a:hover, .serie-4 a:hover, .serie-5 a:hover, .serie-6 a:hover, .serie-7 a:hover, .serie-8 a:hover{
	animation-name: animacionSeries;
	animation-duration: .5s;
	animation-fill-mode: forwards;
} 

.serie-1 img:hover, .serie-2 img:hover, .serie-3 img:hover, .serie-4 img:hover, .serie-5 img:hover, .serie-6 img:hover, .serie-7 img:hover, .serie-8 img:hover{
	animation-name: animacionSeriesImg;
	animation-duration: .3s;
	animation-fill-mode: forwards;
} 

@keyframes animacionSeries{
	0%{

	}
	100%{
		color: #f07;
		cursor: pointer;
		}
}
@keyframes animacionSeriesImg {
	0%{

	}

	100%{
		
		filter: brightness(.5);
	}
}
.footer{
	height: 150px;
	background-color: #300;
}

.logo-de-cuevana{
	transform: translateY(30px);
}

.footer-parrafo{
	text-align: center;
	font-family: verdana;
	color: #b00;
	font-size: 15px;
}









